@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$maxWidth: 1680;
$maxWidthContainer: 1;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type == 1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(
                #{$minSize + px} + #{$addSize} *
                    ((100vw - 320px) / #{$maxWidthContainer - 320})
            );
        }
    } @else {
        #{$property}: calc(
            #{$minSize +
                px} +
                #{$addSize} *
                ((100vw - 320px) / #{$maxWidth - 320})
        );
    }
}

:root {
    --text-color: #e87d25;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: black;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;

    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sections {
    padding: 50px 30px;
}

h1 {
    @include adaptiv-value('font-size', 48, 30, 0);
    font-weight: 600;
    letter-spacing: 1px;
}

h2 {
    @include adaptiv-value('font-size', 42, 30, 0);
    font-weight: 600;
    margin-bottom: 50px;
}

p {
    @include adaptiv-value('font-size', 20, 16, 0);
}

.modal {
    content: '';
    z-index: 100;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);

    &.active {
        display: flex;
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        width: 25px;
        transition: 0.3s;
        fill: white;
        &:hover {
            fill: gray;
        }
    }
}

.get-vacancy-button {
    position: relative;
    @include adaptiv-value('font-size', 20, 16, 0);
    font-weight: 500;
    background-color: #000;
    // border-radius: 1.875em;
    color: var(--text-color);
    padding: 1.25em 3.9em;
    border: 0.1875em solid var(--text-color);
    cursor: pointer;
    z-index: 0;
    overflow: hidden;
    transition: 0.8s;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--text-color);
        transition: 0.8s;
        bottom: 0;
        z-index: -5;
        border-radius: 50% 50% 0 0;
    }

    &:hover {
        color: black;

        &::before {
            height: 200%;
        }
    }
}

.header-language {
    cursor: pointer;
    position: relative;
    justify-self: end;

    &__main {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
            width: 1em;
            fill: var(--text-color);
            transition: 0.2s;
        }
    }

    .header-language__items {
        position: absolute;
        display: none;
        margin-top: 5px;
        background-color: #000;

        .header-language__item {
            border: 1px solid var(--text-color);
            cursor: pointer;
            padding: 8px 14px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #292727;
            }

            &:not(:last-child) {
                border-bottom: none;
            }
        }
    }

    &.open {
        .header-language__items {
            display: block;
        }
        svg {
            transform: rotateX(180deg);
        }
    }
}

.header {
    z-index: 150;
    position: relative;
    border-bottom: 1px solid var(--text-color);
    padding: 20px 30px;
    font-size: 18px;
    background-color: black;

    .header-container {
        max-width: 1500px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 30% 60% 10%;

        align-items: center;

        .header-logo {
            display: flex;
            align-items: center;
            gap: 8px;

            .header-logo__image {
                @include adaptiv-value('width', 48, 30, 0);
            }

            .header-logo__text {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;

                &-span {
                    color: rgb(86, 86, 86);
                    font-weight: 500;
                }
            }
        }

        .header-contacts {
            display: flex;
            column-gap: 40px;
            justify-self: end;

            &__item {
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    width: 1em;
                    fill: var(--text-color);
                }
            }
        }
    }
}

.navigation {
    font-size: 18px;
    margin: 21px 0 15px 0;
    display: flex;
    justify-content: center;
    column-gap: 60px;

    .navigation__item {
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        transition: border 0.5s ease;
        &:hover {
            border-bottom: 1px solid var(--text-color);
        }
    }

    .header-language {
        display: none;

        &__items {
            height: 300px;
        }
    }
}

.slider {
    position: relative;
    overflow: hidden;

    .hover-slider {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
        min-height: 550px;

        &__item {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.6s linear;
            min-height: 750px;
            pointer-events: none;

            &-information {
                position: absolute;
                z-index: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 30%;
                width: 100%;

                &-h1 {
                    text-align: center;
                    margin-bottom: 30px;
                }

                &-p {
                    text-align: center;
                    line-height: 2;
                    font-weight: 300;
                    margin-bottom: 50px;
                    max-width: 50%;
                }
            }

            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translate(-4vh);
                transition: transform linear 0.6s;
            }

            &--active {
                opacity: 1;
                pointer-events: auto;

                & img {
                    transform: translate(0);
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                z-index: 4;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .hover-slider-buttons__item {
        position: absolute;
        top: 50%;
        z-index: 15;
        transform: translateY(-50%);
        border: none;
        background-color: var(--text-color);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        svg {
            width: 14px;
            transition: ease-in-out 0.3s;
        }

        &:hover {
            background-color: #000;
            svg {
                fill: var(--text-color);
            }
        }

        &-left {
            left: 2%;
        }

        &-right {
            right: 2%;
        }
    }

    .hover-slider-nav {
        z-index: 15;
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;

        &__item {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
            border: 2px solid var(--text-color);
            cursor: pointer;
            transition: 0.5s;

            &--active,
            &:hover {
                background-color: var(--text-color);
            }
        }
    }
}

.about-us {
    .about-us-block {
        display: flex;
        justify-content: space-between;

        &__info {
            flex-basis: 40%;
            @include adaptiv-value('padding-top', 60, 30, 0);
            @include adaptiv-value('padding-right', 80, 20, 0);
            @include adaptiv-value('padding-bottom', 60, 30, 0);
            @include adaptiv-value('padding-left', 60, 20, 0);

            background-color: var(--text-color);
            color: black;

            &-h2 {
                margin-bottom: 0;
                &::after {
                    content: '';
                    background-color: black;
                    height: 3px;
                    margin: 18px 0 28px;
                    max-width: 50px;
                    display: block;
                }
            }

            &-p {
                line-height: 1.55;
                font-weight: 300;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            max-width: 500px;
        }
    }
}

.achievments {
    max-width: 800px;
    margin: 0 auto;

    &__h2 {
        text-align: center;
    }

    &-list {
        list-style-image: url(/images/check-solid.svg);
        display: flex;
        flex-direction: column;
        gap: 35px;
        &__item {
            display: flex;
            align-items: center;
            gap: 40px;

            svg {
                flex-shrink: 0;
                width: 50px;
                fill: var(--text-color);
            }
            &-text {
                line-height: 2;
            }
        }
    }
}

.certificats {
    .container {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .certificats__img {
            max-width: 580px;
            cursor: pointer;
        }
    }

    .certificats-modal {
        &__img {
            width: 900px;
        }
    }
}

.our-services {
    // .our-services__h2

    &__h2 {
        text-align: center;
    }

    .our-services-cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        &__item {
            padding: 30px 30px 40px;
            background-color: var(--text-color);
            color: black;
            border-radius: 8px;
            flex-basis: 33%;
            cursor: pointer;

            &-h4 {
                font-size: 22px;
                font-weight: 600;
                line-height: 1.3;
            }

            // .our-services-cards__item-p

            &-p {
                font-weight: 300;
                margin: 20px 0;
                line-height: 1.55;
            }

            // .our-services-cards__item-button

            &-button {
                font-weight: 800;
                font-size: 19px;
                &::after {
                    content: '⮕';
                    display: inline-block;
                    margin-left: 10px;
                    transition: transform 0.3s;
                }
            }

            &:hover {
                background-color: rgb(236, 141, 47);

                & ::after {
                    transform: translateX(5px);
                }
            }
        }
    }
}

.countries {
    padding-bottom: 100px;
    &__h2 {
        text-align: center;
    }

    .countries-list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        img {
            max-width: 140px;
        }
    }
}

.forma {
    background-image: url('/images/forma.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    position: relative;
    &-info {
        position: relative;
        z-index: 10;
        text-align: center;
        &__h1 {
        }

        &__p {
            margin: 40px 0 80px;
        }

        &__arrow {
            position: absolute;
            top: 60%;
            left: 36%;
            width: 55px;
            fill: var(--text-color);
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.footer {
    &__h4 {
        font-size: 14px;
        font-weight: 300;
    }
}
